.sidebar {
  background-color: var(--background-dark);
  height: 100vh;
  width: 30vw;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.sidebar__cardContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
