.sidebar {
  background-color: var(--background-dark);
  height: 100vh;
  width: 30vw;
  padding: 1rem;
  box-sizing: border-box;
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  gap: 1em 0px; 
  grid-template-areas: 
    "."
    "."
    "."
    "."; 
}
