.indicator {
  position: absolute;
  z-index: 10;
  bottom: 1rem;
  left: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  transition: 0.3s;
}
.indicator.micStateOff {
  background-color: #afafaf;
}
.indicator.micStateOn {
  background-color: #a1e49d;
}
.indicator.micStateProcessing {
  background-color: #f5d681;
}

.indicator.connectionLost {
  color: red;
  transform: scale(2);
}
